*{margin: 0;padding: 0;border: none;}
a{text-decoration: none;color: none;}
input{border: none;}
a{color: black;}
ul,ol,li{list-style: none;}
/*上面的小横条*/
article{
	width: 1366px;
	height: 1000px;
	padding-top: 50px;
	background: whitesmoke;
}
article header{
	position: relative;
	width: 900px;
	height: 35px;
	margin-left: 233px;
	background: #66CCCC;
	padding-top: 10px;
}
article header a:hover {color:whitesmoke;} /*鼠标划过链接 */
article header a:active {color:#FF6666;}
article header a{
	margin-left: 120px;
	font-family: "宋体";
	font-size: 15px;
}

/*找资源的搜索*/
section{
	width: 850px;
	margin: 5px 258px;
	font-family: "华文仿宋";
}
#sport{
	position: absolute;
	width: 90px;
	height: 25px;
	background: white;
	display: none;
}
.downloadsearch,.xiaobian{
	width: 850px;
	height: 115px;
	background: white;
	margin-top: 10px;
	border-bottom:2px solid #ECE9D8;
}
.downloadsearch{
	padding-top:20px;
}
.xiaobian{height: 390px;}
#xiaobianIn{height: 365px;}
select{background: #66CCCC;width: 100px;height: 20px;border-radius: 10px;}
.downloadsearch p,select{margin-left: 20px;float: left;}
span{clear: left;margin-left: 20px;}
#keywork{
	background: whitesmoke;
	width: 500px;
	height: 25px;
	border-radius: 5px;
}
#dlSearchBtn{
	height: 25px;
	width: 80px;
	background: #66CCCC;
	border-radius: 5px;
}
.xiaobian p,.myresource p,.myload p,.mycollect p{
	height: 25px;
	background:#ECE9D8;
	color: #66CCCC;
}
.myresource p{float: left;padding-right: 84.7%;}
.myresourcetop a{float: left;width: 66px;color: #66CCCC;margin-top: 5px;}
.InDiv{height: 75px;border-bottom: 1px dashed #66CCCC;clear: both;padding-top: 5px;}
#xiaobianIn div h3,#myloadIn div h3,#mycollectIn div h3,#myresourceIn div h3{margin: 0px 5px;}
#txt{
	overflow: hidden;/*隐藏在一行内*/
	white-space: nowrap;
	text-overflow: ellipsis;
	text-indent: 2em;/*段落前面空两个格*/
	margin: 5px 0px;
}
#mycollectIn,#myloadIn,#myresourceIn{background: white;}
#xiaobianIn div p,#myloadIn div p,#mycollectIn div p{float: left;height: 30px;width: 200px;background: none;margin-bottom: 5px;}
.edustudy,.lanstudy{
	width: 420px;
	height: 250px;
	margin-top: 10px;
	margin-right: 5px;
	float: left;
	background: white;
	border-bottom:2px solid #ECE9D8;

}
.lanstudy{margin-left: 10px;}
.edustudytop,.lanstudytop{width: 420px;height: 30px;background: #ECE9D8;padding-top: 5px;}
.edustudytop p,.edustudytop a,.lanstudytop p,.lanstudytop a{float: left;color: #66CCCC;}
.edustudytop a,.lanstudytop a{margin-left: 300px;color: black;}
.edustudy div h4,.lanstudy div h4{border-bottom: 1px dashed #66CCCC;margin: 5px 10px;}


.myresourcetop{width: 100%;background:#ECE9D8;height: 25px;}
#myresourceA{margin-right: 80%;margin-left: 2%;}





